body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
* {
  box-shadow: 0 0 0 1px red;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1250px;
  padding: 0 25px;
  margin: 0 auto;
  box-sizing: border-box;
}
.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 2.5rem;
  font-weight: 700;
}
.text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}
.btn {
  padding: 18px 40px;
  border-radius: 40px;
  border: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
.btnFilled {
  background: linear-gradient(180deg, #f4ea0e -51.7%, #f29023 137.04%);
  color: #000;
}
.btnFilledWhite {
  background-color: #fff;
  color: #000;
}
.btnOutline {
  /* border: 1px solid #fff; */
  box-shadow: 0 0 0 2px #fff;
  color: #fff;
}
.top {
  /* height: 100vh; */
  /* padding-bottom: 110px; */
  background-color: #000;
  background-image: url("../src/assets/img/png/mainBg.png");
  background-origin: padding-box;
  /* background-size: 60%; */
  background-repeat: no-repeat;
  background-position: top right;
  box-sizing: border-box;
}
.top .container {
  padding-top: 30px;
  padding-bottom: 110px;
}
.top header {
  display: flex;
  justify-content: space-between;
}
.logo img {
  display: block;
  width: 138px;
  height: auto;
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.1rem;
}
.reverse {
  flex-direction: row-reverse;
}
.navBar > * {
  font-family: Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.btnGroup {
  display: flex;
}
.btnGroup .btnFilled {
  margin-right: 25px;
}
.sloganWrapper {
  width: 100%;
  max-width: 600px;
  margin-top: 150px;
}
.slogan {
  margin-bottom: 40px;
  color: #fff;
  font-size: 4.5rem;
  font-weight: 300;
}
.slogan span {
  font-weight: 700;
}
.sloganWrapper .btnGroup .btnOutline {
  max-height: 57px;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 15px 24px;
  box-sizing: border-box;
}
.topSection {
  padding: 2rem 0 4.5rem;
  background-color: #000;
}
.topTitle {
  margin-top: 5.25rem;
  color: #fff;
  font-size: 10rem;
  font-weight: 300;
  line-height: 1;
}
.topTitle .bold {
  display: block;
  font-weight: 700;
}
#stats .container {
  padding-top: 80px;
}
.statsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statItem img {
  margin-bottom: 20px;
}
.statItem h3 {
  margin-bottom: 5px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}
.statItem p {
  font-size: 1.25rem;
  font-weight: 400;
  color: #000;
}
.playerWrapper {
  position: relative;
  transform: translateY(30%);
}
.player {
  width: 100%;
}
#about {
  background-color: #000;
}
#about .container {
  padding-top: 13.6rem;
}
.aboutHeading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 3rem 0 12.5rem;
}
.aboutHeading h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
}
.aboutHeading h2 span {
  display: block;
  font-weight: 300;
}
.aboutDescription {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  align-items: center;
  margin-bottom: 7rem;
}

.aboutImgWrapper {
  display: flex;
  align-items: center;
  flex: 1 1;
}
.aboutImgWrapper img {
  position: relative;
  width: 66.5%;
  max-width: 385px;
  height: auto;
}
.aboutImgWrapper img:first-of-type {
  z-index: 1;
}
.circleIcon {
  position: relative;
  transform: translateX(-50%);
}
.reverse .circleIcon {
  transform: translateX(50%);
}
.aboutTxtWrapper {
  flex: 1 1;
}
.aboutTxtWrapper h3 {
  margin-bottom: 15px;
  color: #fff;
}
.abouPartnership h3 {
  margin-bottom: 15px;
  color: #fff;
}
.abouPartnership .playerWrapper {
  transform: translateY(50%);
  margin-top: -25%;
}
.successStoryContainer {
  background-color: #e5e5e5;
}
.successStoryContainer .container {
  padding-top: 32.75rem;
  padding-bottom: 18.5rem;
}
.successStoryContainer .title {
  color: #000;
}
.valuesWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5rem;
  gap: 6.7%;
  margin: 9.1rem 0 12.5rem;
}
.valuesWrapper li {
  display: grid;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 6px dashed #000;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: 700;
}
.successWrapper {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: end;
  margin: 3.31rem 0 12.93rem;
}
.successWrapper li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 1.25rem;
  border-radius: 10px;
  background-color: #fff;
}
.successWrapper li > img {
  width: 100%;
  height: auto;
}
.successWrapper li:last-child {
  background-color: #f3bd19;
}
.successWrapper li:last-child .growthTitle {
  color: #fff;
}
.successWrapper li:last-child .successInfoWrapper > div {
  background-color: #000;
  color: #fff;
}
.growthTitle {
  font-size: 2rem;
  color: #000;
  text-align: center;
  margin: 1.55rem 0;
}
.successInfoWrapper {
  display: grid;
  gap: 0.813rem;
  grid-template-columns: 1fr 1fr;
}
.successInfoWrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0.73rem 0.5rem;
  background-color: #f3bd19;
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
}
.emplArea sup {
  font-size: 1rem;
}
.perksWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.perksList {
  flex-basis: 48%;
}
.perksList li {
  display: flex;
  align-items: center;
  margin-bottom: 1.125rem;
  color: #000;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
}
.perksList li img {
  margin-right: 1rem;
}
.perksGallery {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
}
.perksGallery li {
  display: flex;
}
.perksGallery li img {
  aspect-ratio: 1/1;
  height: auto;
}
.perksGallery li:first-child,
.perksGallery li:last-child {
  justify-content: flex-end;
}
.perksGallery li:first-child img {
  max-width: 14.4rem;
  width: 60%;
  /* height: 14.4rem; */
}
.perksGallery li:nth-child(2) {
  transform: translateY(-20%);
}
.perksGallery li:nth-child(2) img {
  max-width: 13.9rem;
  width: 50%;
  /* height: 13.9rem; */
}
.perksGallery li:last-child {
  transform: translateY(-70%);
}
.perksGallery li:last-child img {
  width: 40%;
  max-width: 11.3rem;
  /* height: 11.3rem; */
}
.successContainer .titleWrapper {
  margin-bottom: 2.75rem;
}
.storyWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}
.storyItem {
  border-radius: 16px;
  background-color: #fff;
}
.storyContent {
  padding: 1.5rem;
}
.storyItem img {
  width: 100%;
  height: auto;
}
.storyContent h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
}
.storyContent p {
  color: #7b7b7b;
  font-weight: 400;
  font-size: 1rem;
}
.becomePartner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  padding: 3.6rem 2.5rem;
  background-color: #fff;
  transform: translateY(-50%);
}
footer {
  background-color: #000;
  padding-bottom: 2rem;
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
footer .logo {
  width: 6rem;
  height: auto;
  cursor: pointer;
}
footer .logo img {
  display: block;
  width: 100%;
  height: auto;
}
.footerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}
.social {
  display: flex;
  align-items: center;
}
.social li {
  margin-left: 1.45rem;
  cursor: pointer;
}
.footerMenu {
  display: flex;
  justify-content: center;
}
.footerMenu a {
  margin: 0 1.6rem;
  font-weight: 400;
}
footer .contacts {
  display: flex;
  color: #000;
}
footer .contacts > * {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.875rem;
  font-weight: 400;
}
footer .contacts p:last-child {
  margin-right: 0;
  margin-left: auto;
}
footer .mailAddress {
  margin-right: 2.5rem;
}
.menuIcon {
  display: none;
}
.partnersContainer {
  padding-top: 3rem;
}

.partnersHeading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.partnersHeading .title {
  margin-bottom: 1rem;
}
.partnersHeading .text {
  margin-bottom: 1rem;
  width: min(87%, 570px);
  color: #000;
}
.partnersHeading .btn {
  flex-shrink: 0;
}
.partnersList {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2.5rem;
  margin: 9.1rem 0 14rem;
}
.partnerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.partnerItem img {
  width: 100%;
  height: auto;
}
.partnersInfo {
  margin-top: 1rem;
  text-align: center;
}
.partnerName {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.partnerPosition,
.partnerTeam {
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}
.partnerTeam {
  opacity: 0.5;
}
.storiesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  padding-top: 4.5rem;
}
.storiesContainer img {
  width: auto;
  height: 200px;
  object-fit: cover;
}
.storiesContainer .storyTitle {
  font-size: 1.5rem;
}
.storyContainer {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 1.5rem;
}
.storyLink {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.storyAbout {
  display: flex;
  flex-direction: column;
}
.storyTitle {
  margin-bottom: 1rem;
  color: #000;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3;
}
.storyText {
  margin-bottom: 1rem;
  color: #7b7b7b;
}
.storyDate {
  display: flex;
  align-items: center;
  margin-top: auto;
  color: #7b7b7b;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
}
.storyYear {
  display: flex;
  align-items: center;
}
.storyYear:before {
  margin: 0 0.5rem;
  content: "•";
  font-size: 21px;
  font-weight: 700;
}
.smallerContainer {
  margin: 0 auto;
  width: min(100%, 786px);
}
.smallerContainer .title {
  margin-bottom: 1rem;
}
.smallerContainer .text {
  margin-bottom: 2.5rem;
  color: #000;
}
.smallerContainer .storyImg {
  width: 100%;
  height: auto;
}
.blog .storiesContainer {
  margin-bottom: 18.5rem;
}

@media screen and (max-width: 1200px) {
  .topTitle {
    font-size: 8rem;
  }
  /* .top {
    background-size: 55%;
  } */
  .navBar {
    gap: 2rem;
  }
  .slogan {
    font-size: 3.7rem;
  }
  .aboutHeading h2 {
    font-size: 2.1rem;
  }
  #stats .player{
    height: 500px !important;
  }
  .successWrapper li {
    padding: 0.65rem;
  }
  .successInfoWrapper > div {
    padding: 0.63rem 0.3rem;
    font-size: 1.3rem;
  }
  .successInfoWrapper > div img {
    width: 40%;
    max-width: 38px;
    margin-right: 0.35rem;
  }
  .perksList li {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }
  .text {
    font-size: 1rem;
  }
  .btn {
    padding: 15px 35px;
    font-size: 1rem;
    line-height: 1.7;
  }
  .partnersHeading {
    align-items: center;
  }
  .username:before {
    content: "User name";
  }
  .aboutHeading {
    margin: 2.5rem 0 7.5rem;
  }
  .aboutHeading h2 {
    font-size: 1.5rem;
  }
  .aboutImgWrapper img {
    /* width: auto; */
  }
   .aboutImgWrapper img:first-child {
    /* left: 50%;
    transform: translateX(-75%); */
  }
  .aboutDescription:first-child .aboutImgWrapper .circleIcon {
    transform: translateX(-50%);
  }
  .valuesWrapper {
    margin: 5.5rem 0 8.5rem;
  }
  .valuesWrapper li {
    font-size: 1rem;
  }
  .growthTitle {
    font-size: 1.5rem;
  }
  .successWrapper {
    gap: 1rem;
  }
  .successInfoWrapper > div {
    font-size: 1rem;
  }
  .emplArea sup {
    font-size: 0.8rem;
  }
  .successWrapper {
    margin-bottom: 8rem;
  }
  .storyContent {
    padding: 1rem;
  }
  .storyContent h3 {
    font-size: 1.1rem;
  }

  .perksList li {
    margin-bottom: 0.6rem;
    font-size: 1.25rem;
  }
  .topTitle {
    margin-top: 4.25rem;
  }
  .statItem h3 {
    font-size: 2rem;
  }
  .statItem p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 1.8rem;
  }
  .logo img {
    width: 93px;
  }
  .topTitle {
    font-size: 5.5rem;
  }
  .navBar {
    position: fixed;
    flex-direction: column;
    right: 0;
    width: min(100%, 350px);
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .navBar.active {
    transform: translateX(0);
    transition: 0.5s ease-in;
  }
  .statsWrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .statItem {
    flex-basis: 50%;
    margin-bottom: 3rem;
    text-align: center;
  }
  .aboutHeading {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .aboutHeading h2 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    line-height: 1.3;
  }
  .aboutDescription {
    flex-direction: column;
    gap: 2.25rem;
    margin-bottom: 7.5rem;
  }
  .aboutTxtWrapper {
    text-align: center;
  }
  .partnersHeading {
    flex-wrap: wrap;
  }
  .partnersList {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3rem;
    margin: 6.5rem 0 11rem;
  }
  .partnerName {
    font-size: 1rem;
  }
  .partnerItem {
    margin-bottom: 0;
  }
  .partnerPosition,
  .partnerTeam {
    font-size: 0.875rem;
  }
  .becomePartner {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
  }
  .titleWrapper {
    margin-bottom: 1rem;
  }
  .footerNav {
    flex-wrap: wrap;
  }
  .footerMenu {
    flex-direction: column;
    flex-basis: 100%;
    order: 3;
  }
  .footerNav {
    margin-bottom: 1.5rem;
  }
  .footerMenu a {
    margin: 1rem 0 0;
  }
  footer .contacts {
    flex-direction: column;
  }
  footer#contacts .contacts > * {
    margin: 0.5rem 0 0;
  }
}
@media screen and (max-width: 480px) {
  .partnersHeading {
    flex-wrap: wrap;
  }
  .partnersList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .titleWrapper {
    margin-bottom: 0.5rem;
  }
  .topTitle {
    font-size: 5rem;
  }
  .topTitle {
    margin-top: 4.5rem;
  }
}
@media screen and (max-width: 420px) {
  .titleWrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
