body {
  margin: 0;
  font-family:"Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*{
  /* box-shadow: 0 0 0 1px red; */
  padding: 0;
  margin: 0;

}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.container{
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.titleWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  font-size: 2.5rem;
  font-weight: 700;
}
.text{
  color: rgba(255,255,255,0.8);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}
.btn{
  padding: 18px 40px;
  border-radius: 40px; 
  border: none;
  font-size: 1.125rem;
  font-weight: 700;   
  text-align: center;
  cursor: pointer;
}
.btnFilled{
 background: linear-gradient(180deg, #F4EA0E -51.7%, #F29023 137.04%);
 color: #000;
}
.btnFilledWhite{
  background-color: #fff;
  color: #000;
}
.btnOutline{
  /* border: 1px solid #fff; */
  box-shadow: 0 0 0 2px #fff;
  color: #fff;
}
.top{
  padding: 30px 0 260px;
  background-color: #000;
  background-image: url('../src/assets/img/png/mainBg.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top right;
}
.top header{
  display: flex;
  justify-content: space-between;
}
.logo img{
  display: block;
  width: 138px;
  height: auto;
}
.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.1rem;
}
.reverse{
  flex-direction: row-reverse;
}
.navBar>*{  
  font-family: Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.btnGroup{
  display: flex;
  align-items: center;
}
.btnGroup .btnFilled{
  margin-right: 25px;
}
.sloganWrapper{    
  width: 100%;
  max-width: 600px;
  margin-top: 150px;
}
.slogan{
  margin-bottom: 40px;
  color: #fff;
  font-size: 4.5rem;
  font-weight: 300;    
}
.slogan span{
font-weight: 700; 
}
#stats .container{
  padding-top: 80px;
}
.statsWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statItem img{
  margin-bottom: 20px;
}
.statItem h3{
  margin-bottom: 5px;
  font-size: 40px;
  font-weight: 700;
  color: #000;
}
.statItem p{
  font-size: 1.25rem;
  font-weight: 400;
  color: #000;
}
.playerWrapper{
  position: relative;
  transform: translateY(30%);
}
.player{
  width: 100%;
}
#about{
  background-color: #000;
}
#about .container{
  padding-top: 13.6rem;
}
.aboutHeading{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 48px 0 200px;
}
.aboutHeading h2{
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;    
}
.aboutHeading h2 span{
  display: block;
  font-weight: 300;
}
.aboutDescription{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 175px;
}
.aboutTxtWrapper h3{
  margin-bottom: 15px;
  color: #fff;    
}
.aboutImgWrapper{
  display: flex;
  align-items: center;
}
.aboutImgWrapper img:first-of-type{
  z-index: 1;
} 
.circleIcon{
  position: relative;
  transform: translateX(-50%);
}
.reverse .circleIcon{
  transform: translateX(50%);
}
.abouPartnership h3{
  margin-bottom: 15px;
  color: #fff;
}
.abouPartnership .playerWrapper{
  transform: translateY(50%);
  margin-top: -25%;
}
.successStoryContainer{
  background-color: #E5E5E5;
}
.successStoryContainer .container{
  padding: 32.75rem  0 18.5rem;
}
.successStoryContainer .title{
  color: #000;
}
.valuesWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5rem;
  margin: 9.1rem 0 12.5rem;    
}
.valuesWrapper li{
  display: grid;
  align-items: center;
  justify-items: center;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 6px dashed #000;
  text-align: center;
  box-sizing: border-box;
}
.successWrapper{
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: end;
  margin: 3.31rem 0 12.93rem;    
}
.successWrapper li{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 1.25rem;
  border-radius: 10px;
  background-color: #fff;
}
.successWrapper li:last-child{
  background-color: #F3BD19;
}
.successWrapper li:last-child .growthTitle {
  color: #fff;
}
.successWrapper li:last-child .successInfoWrapper>div{
  background-color: #000;
  color: #fff;
}
.growthTitle{
  font-size: 2rem;
  color: #000;
  text-align: center;
  margin: 1.55rem 0;
}
.successInfoWrapper{
  display: grid;
  gap: 0.813rem;
  grid-template-columns: 1fr 1fr;
}
.successInfoWrapper>div{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0.625rem 1.25rem;
  background-color: #F3BD19;
  color: #000;
  font-size: 1.5rem;
  line-height: 1.5;
}
.perksWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.perksList{
  flex-basis: 45%;
}
.perksList li{
  display: flex;
  align-items: center;
  margin-bottom: 1.125rem;
  color: #000;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
}
.perksList li img{
  margin-right: 1rem;
}
.perksGallery{
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}
.perksGallery li{
  display: flex;
}

.perksGallery li:first-child,.perksGallery li:last-child{
  justify-content: flex-end;
}
.perksGallery li:first-child img{
  width: 14.4rem;
  height: 14.4rem;
}
.perksGallery li:nth-child(2){
  transform: translateY(-20%);
}
.perksGallery li:nth-child(2) img{
  width: 13.9rem;
  height: 13.9rem;    
}
.perksGallery li:last-child{
  transform: translateY(-70%);
}
.perksGallery li:last-child img{
  width: 11.3rem;
  height: 11.3rem;    
}
.successContainer .titleWrapper{
  margin-bottom: 2.75rem;

}
.storyWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;  
}
.storyItem{
  border-radius:16px;
  background-color: #fff;
}
.storyContent{
  padding: 1.5rem;
}
.storyItem img{
  width: 100%;
  height: auto;
}
.storyContent h3{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;    
  line-height: 1.3;
}
.storyContent p{
  color: #7B7B7B;
  font-weight: 400;
  font-size: 1rem;
}
.partner{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  padding: 3.6rem 2.5rem;
  background-color: #fff;
  transform: translateY(-50%);
}
footer{
  background-color: #000;
  padding-bottom:2rem;
}
footer .container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
footer .logo{
  width: 6rem;
  height: auto;
  cursor: pointer;
}
footer .logo img{
  display: block;
  width: 100%;
  height: auto;
}
.footerNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}
.social{
  display: flex;
  align-items: center;
}
.social li{
  margin-left: 1.45rem;
  cursor: pointer;
}
.footerMenu{
  display: flex;
  justify-content: center;
}
.footerMenu a{
  margin: 0 1.6rem;
  font-weight: 400;
}
footer .contacts{
  display: flex;
  color: #000;
}
footer .contacts>*{
  color: rgba(255,255,255,0.6);
  font-size: 0.875rem;
  font-weight: 400;
}
footer .contacts p:last-child{
  margin-right: 0;
  margin-left: auto;
}
footer .mailAddress{
  margin-right: 2.5rem;
}
.menuIcon{
  display: none;
}

@media screen and (max-width:1024px){
  
}
@media screen and (max-width:768px){
  .navBar{
    position: fixed;
    flex-direction: column;
    right: 0;
    width: min(100%,350px);
    transform: translateX(100%);
    transition: .5s ease-in;
  }
  .navBar.active{
    transform: translateX(0);
    transition: .5s ease-in;
  }
}
